exportPattern("^[[:alpha:]]+")
useDynLib(netnew)
export(netstats)
export(samplemany)
export(sampleone)
export(simulatemodel)
export(simulatemodellarge)
export(samplemanylarge)
export(simulatemodelbham)
export(samplemanybham)
export(bayesest_ex)
export(erdos)
export(bhamidirecip)
export(phi_recip)
export(phi_prime_recip)
export(bhamidi3params)
export(phi_3params)
export(phi_prime_3params)
export(bhamidieit)
export(phi_eit)
export(phi_prime_eit)
export(bhamidiedgetriangle)
export(phi_edgetriangle)
export(phi_prime_edgetriangle)
importFrom(rootSolve,uniroot.all)